

html, body {
    height: 100%;
    background-color: #6A7369;
  }
  
    
  main {
    flex: 1;
    background-color: #6A7369;
  }
  
  footer {
    margin-top: auto;
  }

  a:hover{
    text-decoration: underline;
}

.container {
    margin-top: 220px;
    padding-top: 50px;
}


.container {

    background-color: #6A7369;
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

* {

    background-color: #6A7369;
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

h5{
    text-indent: 1em;
}

#github img:hover {
    opacity: 1.0;
}



