.container h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
}

.container a {
    
    font-size: 75px;
    background-color: red;
    border: solid black;
    border-radius: 5px;
    color: blue;
};

.container {
    margin-top: 5px;
    /* font-size: 3rem; */
}