


.container h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
}

.container h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.container h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-style: italic;
}


#resume {
    
    font-size: 30px;
    background-color: red;
    border: solid black;
    border-radius: 20px;
    color: blue;
    height: 75%;
    justify-content: center
};

.container {
    margin-top: 450px;
    /* font-size: 3rem; */
}